{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>Lista de Perfis<h1>
<br>

{% if profiles %}
    {% for profile in profiles %}


        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" style="height: 200px; width: 200px;" class="img-fluid rounded-start" alt="{{ profile.user.username }} ">
                    {% else %}
                    <img  src="{% static 'images/Default_pfp.svg' %}" class="img-fluid rounded-start" alt="profile picture">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">{{ profile.user.username }}</p>
                        <h5 class="card-title"><a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a></h5>
                        <h6 class="card-title"><small class="text-body-secondary">Ultima atualização: {{ profile.date_modified }}</small></h6>
                    </div>
                </div>
            </div>
        </div>
        <br>


    {% endfor %}
{% endif %}


{% endblock %}