{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if profile %}

    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1>Perfil do {{ profile.user.username }}</h1>
                <br>
                {% if tweets %}
                    {% for tweet in tweets %}
            <div class="alert alert-dark" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" style="height: 50px; width: 50px;" class="rounded-circle" alt="{{ profile.user.username }} ">
                {% else %}
                    <img src="{% static 'images/profile_default.png' %}" style="height: 50px; width: 50px;" class="rounded-circle" alt="{{ profile.user.username }} ">
                {% endif %}

            </div>

            <div class="col-11">
                            <h5>{{ tweet.body }} </h5>
                            <small class="text-muted">
                                ({{ tweet.created_at }}) Por @{{ tweet.user.username|lower }}
                                - {{ tweet.number_of_likes }}
                                {% if user in tweet.likes.all %}
                                    <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-solid fa-heart" style="color: red;"></i></a>
                                {% else %}
                                    <a href="{% url 'tweet_like' tweet.id %}"><i class="fa fa-heart-o" style="color: red;"></i></a>
                                {% endif %}
                                &nbsp;&nbsp;
                                <a href="{% url 'tweet_show' tweet.id %}"><i class="fa-solid fa-share" style="color: gray;"></i></a>&nbsp;&nbsp;
                                {% if request.user.username == profile.user.username %}
                                    <a href="{% url 'delete_tweet' tweet.id %}"><i class="fa  fa-trash" style="color: gray;"></i></a>
                                    &nbsp;&nbsp;
                                    <a href="{% url 'edit_tweet' tweet.id %}"><i class="fa  fa-edit" style="color: gray;"></i></a>
                                {% endif %}
                            </small>
                        </div>
            </div>
        </div>
    </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="col-4">
<br>
                {% if profile.profile_image %}
                    <img class="rounded-circle" style="height: 200px; width: 200px;" src="{{ profile.profile_image.url }}">
                    <br>
                {% endif %}
                
                {% if profile.homepage_link %}
                    <a href="{{ profile.homepage_link }}" target="new"><i style="color: gray;" class="fa-solid fa-link"></i></a>
                    &nbsp;
                {% endif %}

                {% if profile.facebook_link %}
                    <a href="{{ profile.facebook_link }}" target="new"><i class="fa-brands fa-facebook"></i></a>
                    &nbsp;
                {% endif %}

                {% if profile.instagram_link %}
                    <a href="{{ profile.instagram_link }}" target="new"><i style="color: red;" class="fa-brands fa-instagram"></i></a>
                    &nbsp;
                {% endif %}

                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target="new"><i style="color: blue;" class="fa-brands fa-linkedin-in"></i></a>
                    &nbsp;
                {% endif %}

<br><br>
{% if profile.profile_bio %}
    <p align="justify">{{ profile.profile_bio }}</p>
{% endif %}
<br>
                <div class="card">
                    <h5 class="card-header">Seguindo:</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for following in profile.follows.all|slice:3 %} <br>
                                <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>&nbsp;&nbsp;
                                <a href="{% url 'unfollow' following.user.id %}"><i class="fa fa-user-minus small" style="color: gray;"></i></a>
                            {% endfor %} <br><br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'follows' profile.user.id %}" class="btn btn-sm btn-outline-secondary">Ver Mais...</a>
                    </div>
                </div>
<br><br> 
                <div class="card">
                    <h5 class="card-header">Seguidores:</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for following in profile.followed_by.all|slice:3 %} <br>
                                <a href="{% url 'profile' following.user.id %}">@{{ following }}</a>&nbsp;&nbsp;
                                {% if following in profile.follows.all %}
                                <a href="{% url 'unfollow' following.user.id %}"><i class="fa fa-user-minus small" style="color: gray;"></i></a>
                                {% else %}
                                <a href="{% url 'follow' following.user.id %}"><i class="fa fa-user-plus small" style="color: gray;"></i></a>
                                {% endif %}
                            {% endfor %}
                            <br><br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'followers' profile.user.id %}" class="btn btn-sm btn-outline-secondary">Ver Mais...</a>
                    </div>
                </div>
                <br>

                <form method="POST">
                    {% csrf_token %}

                    {% if profile in user.profile.follows.all %}
                        <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Deixar de seguir {{ profile.user.username|lower }}</button>

                    {% else %}
                    <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Seguir {{ profile.user.username|lower }}</button>
                    {% endif %}
                </form>
                <br>

    {% if request.user.id == profile.user.id %}
        <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Atualizar Perfil</a>
    {% endif %}
            </div>
        </div>
    </div>



{% endif %}

{% endblock %}