{% extends 'base.html' %}
{% load static %}

{% block content %}



    <h1>Search Users</h1>
<br>

    <form method=POST>
        {% csrf_token %}
        <input type="input" class="form-control"  placeholder="Search Tweet" name="search">
<br><br>
        <button type="submit" class="btn btn-secondary">Search Users</button>
    </form>
<br><br>

{% if search %}
    <h3>You Searched For: {{ search }}</h3>
{% endif %}


{% if searched %}
    {% for result in searched %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if result.profile.profile_image %}
                        <img src="{{ result.profile.profile_image.url }}" style="height: 200px; width: 200px;" class="img-fluid rounded-start" alt="{{ result.profile.user.username }} ">
                    {% else %}
                    <img  src="{% static 'images/Default_pfp.svg' %}" class="img-fluid rounded-start" alt="profile picture">
                    {% endif %}
                    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">{{ result.profile.user.username }}</p>
                        <h5 class="card-title"><a href="{% url 'profile' result.profile.user.id %}">@{{ result.profile.user.username|lower }}</a></h5>
                        
                        
                        <h6 class="card-title"><small class="text-body-secondary">Last Updated: {{ result.profile.date_modified }}</small></h6>
                    </div>
                </div>
            </div>
        </div>
        <br>


    {% endfor %}
{% else %}
{% if searched == None%}

{% else %}
Sorry, No Usernames Containing That Exist, Please Try Again...
{% endif %}

{% endif %}


{% endblock %}